DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Base_2025_2
DB_NAME=UniRiders
DB_SSL=false
DATABASE_URL=

MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_PORT=
MAIL_SECURE=false
PUBLIC_BASE_URL=
DEFAULT_ADMIN_PHONE=
CALLMEBOT_API_KEY=
